<h2 class="monitor-header">
  SmartOrg Sentinella
</h2>

<div class="monitor-control">
  <button class="btn btn-primary"
      ng-if="!stnl.monitoring"
      ng-click="funcs.startMonitor()">Start Monitoring
  </button>
  <button class="btn btn-warning"
      ng-if="stnl.monitoring"
      ng-click="funcs.stopMonitor()">Stop Monitoring
  </button>
  <button class="btn btn-info"
      ng-if="stnl.monitoring"
      ng-click="funcs.getStatus()">Refresh
  </button>
  <button class="btn"
      ng-class="{'btn-danger': stnl.buzzState, 'btn-success': !stnl.buzzState}"
      ng-click="funcs.buzzSwitch()">
    <span ng-if="stnl.buzzState">Turn off Buzzer</span>
    <span ng-if="!stnl.buzzState">Turn on Buzzer</span>
  </button>
</div>

<div ng-if="!stnl.monitoring" class="monitor-main-msg">
  <h3>
    Sentinella monitor is standing by.
  </h3>
</div>

<div ng-if="stnl.monitoring && stnl.status == 'passed'"
    class="monitor-main-msg">
  <h3>
    Relax, all tests passed.
  </h3>
</div>

<div ng-if="stnl.monitoring && stnl.status == 'failed'">
  <div class="monitor-control">
    Last Update: {{stnl.lastUpdate.toString()}}
  </div>

  <div ng-repeat="report in stnl.failingBranches track by $index">
    <div class="monitor-box build-broken">
      <h3>Project: {{report.repo}} - {{report.commit.branch}}</h3>
      <p>Status: {{report.branch.state}}</p>
      <p>Author: {{report.commit.author_name}}</p>
      <p>Time: {{report.commit.committed_at}}</p>
      <p>Comment: {{report.commit.message}}</p>
    </div>
  </div>
</div>

<div ng-if="stnl.monitoring && stnl.status == 'error'"
    class="monitor-main-msg">
  <h3>
    Something's wrong with me, please fix me.
  </h3>
</div>